{% extends "base.html" %}

{% block content %}

<div class="max-w-md mx-auto bg-neutral-900 p-8 rounded-2xl">
    <h2 class="text-xl font-semibold mb-6">Login</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-4">
            <input name="username"
                   placeholder="Username"
                   class="w-full p-3 rounded-lg bg-neutral-800 focus:outline-none">
        </div>

        <div class="mb-6">
            <input name="password"
                   type="password"
                   placeholder="Password"
                   class="w-full p-3 rounded-lg bg-neutral-800 focus:outline-none">
        </div>

        <button type="submit"
                class="w-full bg-neutral-700 hover:bg-neutral-600 p-3 rounded-lg transition">
            Login
        </button>
    </form>

    <div class="mt-6 text-sm text-neutral-400">
        Don't have an account?
        <a href="/auth/signup/" class="text-neutral-200 hover:underline">
            Sign up
        </a>
    </div>
</div>

{% endblock %}
